body {
    background-color: #EBFAFC;
    margin: auto;
    font-family: verdana;
    line-height: 1.4;
    background-image: url("background.jpg");
    background-attachment: fixed;
    color: #494949;
    text-align: center;
}

.welcome-container{
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 78%;
  padding: 1%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.726);
}

.welcome{
  font-size: 20px;
  width: 100%;
  height: fit-content;
  color: #494949;
  margin: 10px;
  margin-bottom: 30px;
  
}

.about-content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.about-header {
  font-size: 24px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.726);
}

.about-container{
  display: block;
  text-align: center;
}

.about-list{
  list-style-type:  none;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.726);
}
.languages{
    width: 500px;
}
.languages-header {
  margin: 30px;
  font-size: 22px;
  text-align: center;
  
}

.language-list{
  margin-bottom: 30px;
}

.language{
  margin: 10px;
  font-size: 18px;
}


.projects-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.projects-header-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.projects-header {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.726);
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.project{
  width: fit-content;
  max-width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.726);
  margin-bottom: 20px;
}

.project-header{
  width: fit-content;
  max-width: 600px;
  margin: 30px;
  display: flex;
  flex-direction: column;

}

.project-name-container{
  color: #494949;
  text-decoration:  none;
  text-align: left;
  border-radius: 10px;
  font-size: 26px;
  margin-bottom: 50px;
}

.project-name{
  text-decoration: none;
  text-align: left;
  width: max-content;
  color: inherit;
  padding: 10px;

}

.project-name:hover{
  background-color: rgba(236, 236, 236, 0.726);
}

.project-description{
  overflow: auto;
  display: block;
  text-align: left;
  width: 100%;
  background-color: inherit;
  font-family: verdana;
  font-size: 20px;
  color: #494949;
  padding: 10px;
}

.project-video-container{
  float: right;
  margin: 30px;

}

.project-video{
  width: 500px;
  height: 270px;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-inner {
  width: fit-content;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.726);
  padding: 30px;
  margin: 50px;
  margin-top: 100px;
}

.contact-header {
    font-size: 24px;
    color: #494949;
    margin: auto;
}

.contact-text {
    font-size: 20px;
    color: #494949;
    margin: auto;
}