body {
    background-color: #EBFAFC;
    margin: auto;
    font-family: verdana;
    line-height: 1.4;
}
.header-container{
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-container {
    background-color: #4A4A4A;
    padding: 10px;
    display: block;
    text-align: center;
}

.nav-container ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type:  none;
}
.nav-container li{
  float: right;
  padding: 10px;
  color: white;
}
.nav-logo{
  float: left;
  text-align: center;
  padding: 20px;
  font-family:verdana;
  font-size: 3.5vh;
  color: white;
}
.nav-container a{
  color: white;
  text-decoration:  none;
  padding: 2vh;
  display: block;
  text-align: center;
  border-radius: 10px;
}

.nav-item {
    font-size: 2.5vh;
}

.nav-container a:hover{
  background-color: #7c7c7c;
}

.about {
}

.welcome-container{
    padding: 2vh;
  padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 4vh;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15vh;
  width: 30%;
    border-radius: 20px;
    background-color: white;
}

.welcome{
  font-size: 20px;
  color: #494949;
  margin: auto;
  margin-bottom: 30px;
}

.about-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about-container{
    background-color: white;
  margin: 10vh;
    margin-top: 5vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
  display: block;
  text-align: center;
    border-radius: 20px;
}

.about-list{
  text-align: center;
  display: block;
  overflow: hidden;
  float: none;
  margin-left: auto;
  margin-right: auto;
    border-radius: 20px;
}
.languages{
  float: left;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  font-family:verdana;
  margin-left: 10%;
  width: 30%;
}
.languages-header {
  text-align: center;
  font-family: verdana;
  font-size: 3vh;
  padding: 5vh;
  color: #494949;
}

.language-list{
  border-radius: 10px;
  padding-left: 10%;
  width: 90%;
}

.language{
  text-align: left;
  font-family: verdana;
  font-size: 2vh;
  color: #494949;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 1vh;
  width: min-content;


}
.tools{
    float: right;
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-family:verdana;
    margin-right: 10%;
    width: 30%;
}
.tools-header{
    text-align: center;
    font-family: verdana;
    font-size: 3vh;
    padding: 5vh;
    color: #494949;
}

.tool-list{
    border-radius: 10px;
    padding-left: 10%;
    width: 90%;
}

.tool{
    text-align: left;
    font-family: verdana;
    font-size: 2vh;
    color: #494949;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1vh;
    width: min-content;

}
li{
  font-family:verdana;
  overflow: hidden;
  list-style-type:  none;
  font-size: 20px;
}

.projects-container{
  display: block;
  text-align: center;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

.projects-header-container{
    display: block;
    margin-top: 10vh;
}

.projects-header{
    font-size: 3vh;
    color: #494949;
    padding: 3vh;
    background-color: white;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.project{

  margin: 10%;
  display: block;
  text-align: center;
  width: 80%;
  background-color: white;
  margin-bottom: 10vh;
  margin-top: 10vh;
  height: 50vh;
  border-radius: 20px;
    padding-top: 6vh;
    padding-left: 2vh;
}

.project-header{
  float: left;
  padding: 1vh;
    padding-top: 3vh;
  display: block;
  text-align: center;
  width: 40%;
  margin-top: 10px;
}

.project-name-container{
  color: #494949;
  text-decoration:  none;
  display: block;
  text-align: left;
  border-radius: 10px;
  font-size: 30px;
  font-family:  verdana;
}

.project-name{

  color: inherit;
  text-decoration: inherit;
  display: block;
  text-align: left;
  border-radius: inherit;
  font-size: inherit;
    margin-bottom: 2vh;
  font-family:  verdana;
  width: max-content;
    padding: 1vh;

}

.project-name:hover{
  background-color: #EDEDED;
}

.project-description{
  overflow: auto;
  display: block;
  text-align: left;
  width: 100%;
  background-color: inherit;
  font-family: verdana;
  font-size: 2vh;
  float: left;
  color: #494949;
    padding-left: 1vh;
}

.project-video-container{
  float: left;
  display: block;
  text-align: center;
    margin-left: 5vh;
    margin-top: 1vh;
  width: 50%;
    height: 100%;

}

.project-video{
    width: 80%;
    height: 80%;
}