.footer-container {
  background-color: rgba(237, 242, 247, 0.8);
  padding: 10px;
  padding-bottom: 30px;
  flex-shrink: 0;

}

.footer-list {
  display: inline;
}

.footer-logo {
  font-size: 14px;
    font-family:verdana;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
}

.footer-item {
  font-size: 14px;
  width: auto;
    font-family:verdana;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 2px;
    color: rgb(0, 0, 0);
}


